.accordion {
  border: 1px solid #ddd;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 100vh;
}

.accordion.closed {
  max-height: 50px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.accordion-header span {
  flex: auto;
  text-align: center;
}
.accordion-content {
  padding: 10px;
}
